<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-select label="Tipo de Exámen" [(ngModel)]="tipoExamen">
          <ion-select-option value="hemograma">Hemograma</ion-select-option>
          <ion-select-option value="">Placeholder1</ion-select-option>
          <ion-select-option value="">Placeholder2</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Fecha Examen</ion-label>
        <ion-datetime-button  datetime="datetime"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" [(ngModel)]="fecha" #datetime presentation="date" locale="es-ES" [firstDayOfWeek]="1" [showDefaultButtons]="true" (ionChange)="processFecha()">
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item *ngIf="tipoExamen=='hemograma'" disabled="true">
        <ion-input label="Recuento de Eritrocitos" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="tipoExamen=='hemograma'" disabled="true">
        <ion-input label="Hematocrito" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="tipoExamen=='hemograma'" disabled="true">
        <ion-input label="Hemoglobina" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="tipoExamen=='hemograma'">
        <ion-input label="VCM" type="number" [(ngModel)]="valueVCM"></ion-input>
      </ion-item>
      <ion-button (click)="enviarDatos()">Agregar</ion-button>
    </ion-list>
  </div>
</ion-content>
