<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input type="number" label="Altura (cm.)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Peso (kg.)"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime-button  datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" presentation="date" locale="es-ES" [firstDayOfWeek]="1">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    
  <ion-button [routerLink]="['/']" color="warning">Cerrar Sesión</ion-button>
  </div>
</ion-content>
