<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- contenido aqui -->
    <ion-item>
      <ion-label>Bienvenido, {{username}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Altura (cm.) " [(ngModel)]="height"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Peso (kg.)" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-datetime-button  datetime="fechnac"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="fechnac" [(ngModel)]="fechnac" presentation="date" locale="es-ES" [firstDayOfWeek]="1" [showDefaultButtons]="true" (ionChange)="processFecha()">
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-button (click)="guardarStorage()">Guardar</ion-button>
    
  <ion-button [routerLink]="['/']" color="warning">Cerrar Sesión</ion-button>
  </div>
</ion-content>