<div>
<ion-tabs>
  <ion-tab-bar id="tabs" slot="bottom" *ngIf="currentPage!='/'&&currentPage!='/login'">
    <ion-tab-button (click)="playA()" tab="home">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button (click)="playB()" tab="dataentry">
      <ion-icon name="add-circle"></ion-icon>
      Nuevo
    </ion-tab-button>
    <ion-tab-button (click)="playC()" tab="chart">
      <ion-icon name="analytics"></ion-icon>
      Gráficos
    </ion-tab-button>
    <ion-tab-button (click)="playD()" tab="user">
      <ion-icon name="person-circle"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</div>
