<ion-content [fullscreen]="true">
  <div id="container">
    <ion-item>
      <ion-input label="Nombre de Usuario" label-placement="stacked" [(ngModel)]="username" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" label="Contraseña" label-placement="stacked" required>
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
    </ion-item>
    <ion-button (click)="enviarDatos()">Ingresar</ion-button>
    <br>
    <ion-text button>
      Crear nueva cuenta
    </ion-text>
  </div>
</ion-content>