<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <!-- contenido aqui -->
    <ion-card *ngIf="inRangeVCM==false" color="warning">
      <ion-card-content>
        Tu último resultado de VCM esta fuera del rango esperado. Recuerda consultar a tu doctor.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>