<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card *ngIf="inRangeVCM==false" color="warning">
      <ion-card-content>
        Tu último resultado de VCM esta fuera del rango esperado. Recuerda consultar a tu doctor.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
